@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

img {
  vertical-align: middle;
  width: 70px;
  height: 100%;

  @include max(sm) {
    width: 50px;
  }
}

h1,
p {
  padding: 0;
  margin: 0;
}
